/*Left-Aside*/
.aside-btn {
    padding: .2em .8em .2em .8em;
}
aside {
    flex-grow: 1;
    max-width: 30vh;
    margin: 0;
    border: 1px solid #e1e6eb;
}
.repository-list-item {
    margin-top: .5em;
}
.repository-link {
    color: #6e7781;
}
.repository-link:hover {
    color: #6e7781;
}
#repository-search {
    margin-left: 2em;
    margin-top: .5em;
}
#aside-title {
    display: flex;
    justify-content: space-between;
    margin: 1em .5em 1em .5em;
}
#recent-repositories-title {
    margin-left: 1.5em;
}
hr {
    margin: 0 1.5em;
}
#aside-note {
    font-size: .8em;
    margin: 1em 1em 1em 2em;
}
/*Right-Aside*/
#update-card {
    border: 1px solid #e1e6eb;
    height: 15em;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-left: 1em;
}
/*Main Content*/
main {
    display:flex;
    justify-content: left;
    padding: 0;
    margin: 0;
}
#main-container {
    background: #f6f8fa;
    padding: 1em 0 4em 3em;
    margin:0;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    flex-basis: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#intro-card {
    background-image: linear-gradient(to left, #dbfbe3, #e0f5ff);
    margin-top: .7em;
}
.feed-title {
    padding: 2em 0 1em 0;
    font-weight: 300;
}
#second-window-content {
    display: flex;
    justify-content: flex-end;
    font-size: .8em;
}
.btn {
    border-radius: 10px;
}
#dismiss-link {
    text-decoration: none;
    margin: 1em 1.5em 0 0;
}
#dismiss-link:hover {
    text-decoration: underline;
}
.btn-success {
    background-color: #2ea44e;
}
#readme-list {
    background-color: #f6f8fa;
    font-family:'Courier New', Courier, monospace;
}
ul {
    list-style-type: none;
    font-size: .9em;
}
#readme-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
    font-size: .9em;
}
#explore-btn {
    background-color: #f6f8fa;
    border-color: lightgrey;
}
#explore-btn:hover {
    background-color: #0d6efd;
    text-decoration: none;
    color: white !important;
}
/*Footer and Trademark*/
#footer-trademark {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    font-size: .8em;
    color: #6e7781;
}
footer {
    flex-grow: 2;
    padding-left: 10em;
}
.footer-link {
    color: #6e7781;
}